<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="favorites-container">
        <img src="{{ url_for('static', filename='image/cinema.jpg') }}" alt="Netflix Background" class="bg">
        <div class="favorites-box">
            <h1>Favorites</h1>
            <ul>
                {% for show, date, type, director in favorite_shows %}
                <li>{{ type }}: {{ show }} - {{ director }} - {{ date }}</li>
                {% endfor %}
            </ul>
            <div class="navigation-favorites">
                <a href="{{ url_for('home') }}" class="btn">Home</a>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
