<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlixFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='image/cinema.jpg') }}" alt="Netflix Background" class="bg">
        <div class="login-box">
            <h1>Log in</h1>
            <form action="{{ url_for('login') }}" method="post">
                <div class="textbox">
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="other-options">
                    <a href="#">Use login code</a><br>
                    <a href="#">Forgotten password?</a>
                </div>
                <div class="remember-me">
                    <input type="checkbox" name="remember"> Remember me
                </div>
            </form>
            <div class="signup">
                Haven't tried FlixFinder Before? <a href="{{ url_for('register') }}">Join now!</a>
            </div>
        </div>
    </div>
</body>
</html>

